<div class="row">
        <div class="col-8 table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">nome</th>
                        <th scope="col">prezzo</th>
                        <th scope="col">cod_ricambio</th>
                        <th scope="col">scorte</th>
                        <th scope="col">descrizione</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- auto è stato definito nel controller mentre autos è un elemento generico -->
                    <tr ng-repeat="ricambio in ricambi track by ricambio._id">
                        <td ng-bind='ricambio.tipo_ricambio.nome'></td>
                        <td ng-bind='ricambio.prezzo'></td>
                        <td ng-bind='ricambio.cod_ricambio'></td>
                        <td ng-bind='ricambio.scorte'></td>
                        <td ng-bind='ricambio.descrizione'></td>
                        <td><a class="btn btn-primary" ui-sref="autodettaglio({id:autos._id})"> Dettaglio</a></td>
                        <td><button class="btn btn-primary" ng-click="eliminaRicambio(ricambio._id)">Elimina</button></td><!----questa funzione elimina è la funzione che si trova dentro al controller del client nella  risorsa che porta lo stesso nome-->
                    </tr>
                </tbody>
    
            </table>
    
        </div>
        <div class="col-4">
            <form ng-submit="creaAuto()">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="marca">Marca</label>
                        <input type="text" class="form-control" id="marca" ng-model="nuovaauto.marca">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="porte">Porte</label>
                        <select class="form-control" id="porte" ng-model="nuovaauto.n_porte">
                            <option value="3">3</option>
                            <option value="5">5</option>
                            <option value="7">7</option>
                        </select>
                    </div>
    
                </div>
                <div class="form-row">
    
    
                    <div class="form-group col-md-6">
                        <label for="modello">Modello</label>
                        <input type="text" class="form-control" id="modello" ng-model="nuovaauto.modello">
                    </div>
    
                    <div class="form-group col-md-6">
                        <label for="colore">Colore</label>
                        <input type="text" class="form-control" id="colore" ng-model="nuovaauto.colore">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Alimentazione</label>
                    <input type="text" class="form-control" id="inputAddress2" ng-model="nuovaauto.alimentazione">
                </div>
                <div class="form-group">
                    <label for="versione">Versione</label>
                    <select class="form-control" id="versione" ng-model="nuovaauto.versione">
                        <option value="multijet">multijet</option>
                        <option value="ds">ds</option>
                        <option value="abarth">abarth</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Cilindrata</label>
                    <input type="text" class="form-control" id="inputAddress2" ng-model="nuovaauto.cilindrata">
                </div>
    
    
                <button class="btn btn-primary">Crea</button>
    
            </form>
    
    
    
    
    
    
    
        </div>
    
    
    
    
    
    
    
    
    </div>