
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Modello</label>
            <input type="text" class="form-control" id="inputEmail4"  ng-model="auto.modello" disabled>
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Marca</label>
            <input type="text" class="form-control" id="inputPassword4" ng-model="auto.marca" disabled>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Colore</label>
        <input type="text" class="form-control" id="inputAddress" ng-model="auto.colore" disabled>
    </div>
    <div class="form-group">
        <label for="inputAddress2">Alimentazione</label>
        <input type="text" class="form-control" id="inputAddress2" ng-model="auto.alimentazione" disabled>
    </div>
    <div class="form-group">
        <label for="inputAddress">Versione</label>
        <input type="text" class="form-control" id="inputAddress" ng-model="auto.versione" disabled>
    </div>
    <div class="form-group">
        <label for="inputAddress2">Cilindrata</label>
        <input type="text" class="form-control" id="inputAddress2" ng-model="auto.cilindrata" disabled>
    </div>
    
    <button type="submit" class="btn btn-primary" ng-click="eliminaAuto(auto._id)">Elimina</button>
    <button type="submit" class="btn btn-primary">Modifica</button>
</form>


</div>
</div>
</div>